# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB
MONGO_URI=mongodb://localhost:27017/ecommerce-appl

# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d

# Cloudinary (Dashboard -> Settings -> API Keys)
CLOUDINARY_CLOUD_NAME=ft7kmein
CLOUDINARY_API_KEY=196978435443446
CLOUDINARY_API_SECRET=9hZUd9T8hIHwvX_oIh0ldQA4hDo

# Razorpay (Dashboard -> Settings -> API Keys)
RAZORPAY_KEY_ID=rzp_test_TUlbdUFEW2DV8W
RAZORPAY_KEY_SECRET=efG5xMqLPYkZsqMpKDZk2EgP

# Email (Nodemailer) - example uses Gmail App Password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=lakkakak@gmail.com
EMAIL_PASS=mhqckkiovkeskkkdkd
EMAIL_FROM="Aurelia Store <kskkskk@gmail.com>"

# Admin seed (used by npm run seed)
ADMIN_NAME=kka
ADMIN_EMAIL=admin@kak.com
ADMIN_PASSWORD=Admin@kakka
